/* small screen */

.container {
    padding: 1rem;
    text-align: center;
}

.hero__title {
    color: #06D6A0;
    margin-bottom: 1rem;
}

.hero__genre {
    color: #118AB2;
    margin-bottom: 1rem;
}

.hero__desc{
    color: #03045e;
    margin-bottom: 1rem;
}

.hero__button {
    color: black;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    background-color: #06D6A0;

}

.hero__img {
    display: block;
  margin-left: auto;
  margin-right: auto;
    max-width: 100%;
    box-shadow: 5px 10px #06D6A0;
    height: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* large screen */
@media(min-width: 992px) {
.container{
    text-align: left;
    max-width: 1200px;
    margin: 3rem auto;
}

    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    
    .hero__left{
        flex-basis: 40%;
        margin: 2dvh;
        padding: 0%;
    }

    .hero__right{
        flex-basis: 60%;
        margin-left: 3rem;
        padding: 0%;
    }
}

@media(max-width: 769px) {
    .hero__img {
        display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
}